.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(230, 228, 228);
    border-bottom-style: solid;
    z-index: 100;
}

.left-section{
    margin-top: 0px;
    display: flex;
    align-items: center;
   
}
.hamburger{
    margin-left: 10px;
      height: 26px;
      display: inline-block;
  }
  .logo{
      margin-left: 10px;
      height:25px;
      display: inline-block;
  }
  
.middle-section{
   
    display: flex;
    
    flex: 1;
    align-items: center;

    
    margin-left: 80px;
    margin-right: 150px;
    max-width: 500px;
}
.searchbar{
    padding-top: 10px;
    flex: 1;
    height: 15px;
    font-size: 20px;
    padding-bottom: 10px;
    border-width: 1px;
    border: solid;
    border-color:rgb(223, 222, 222);
    width: 0;
}
.searchbar::placeholder{
    font-size: 25px;

}
.search-icon{
    height: 30px;
    width: 20px;
    
    
}
.voice{
    height: 30px;
    width: 20px;
}
.button-search{
    border-width: 0px;
    border: solid;
    border-color: rgb(208, 205, 205);
    margin-left: -2px;
    margin-right: 8px;
    position: relative;
    }

    .button-search div{
        position:absolute;
        bottom: -25px;
        font-size: 15px;
        opacity: 0;
        pointer-events: none;
       
    }
    .button-search:hover div{
        background-color: rgba(59, 58, 57, 0.215);
        opacity: 1;
    }
.button-voice{
    border-radius: 30px;
    border: none;
    border-color: rgb(179, 179, 179);
}
.button-voice div{
    position:absolute;
    bottom: -25px;
    font-size: 15px;
    opacity: 0;
    pointer-events: none;
   
}
.button-voice:hover div{
    background-color: rgba(59, 58, 57, 0.215);
    opacity: 1;
}

.right-section{
    
    padding-right: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 0;
   width:180px
}
.account{
    height:30px
}
.upload,.apps,.notifications{
    height:30px;
}
.notifications-area-edit{
   
    position: relative;
}
.notifications-number{
    position: absolute;
    background-color: rgb(202, 12, 12);
    padding-left: 4px;
right: 0px;
top: 0px;
width: 12px;
    border-radius: 16px;

}


