
.thumbnail{
   width: 300px;
   /* display: inline-block; */
}


.video-preview{
   display:inline-block;
   width: 300px;
   vertical-align: top;
   margin-right: 10px;
}

.profile-pic{
   width: 50px;
   vertical-align:top;
   border-radius: 30px
}
.video-name{
   margin-bottom:0;
   width: 200px;
}
.template1{
    margin-right: 10px;
    display: inline-block;

}

.video-author{
   margin-top: 5px;
   margin-bottom: 0px;
}
.video-stats{
  margin-top: 5px;
}
